/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 20px;
}

/* Form Styles */
.parent {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"],
select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="color"] {
    padding: 0;
}

/* Stylish Button */
.style1 {
    border: none;
    width: 28px;
    height: 28px;
    cursor: pointer;
    background-color: transparent;
}

/* Select Styles */
select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

/* Textarea Styles */
textarea {
    width: 98%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

/* Header Styles */
h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
}

/* Image Styles */
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
